<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>ToDo</title>
      <link rel="stylesheet" type="text/css" media="all"  
         href="../static/css/todo-list.css" th:href="@{/css/todo-list.css}" />
   </head>
   <body>
      <div class="container">
         <div class="resultHead">
            <h1>Todo list</h1>
            <div id="menu">
               <a href="/todo">Active</a>
               <a href="/todo/archived">Archived</a>
               <a href="/todo/archive/done">Archive all done todo</a>
            </div>
         </div>
         <div class="todolist" th:if="${not #lists.isEmpty(todolist)}">
            <table id="todos">
               <tr>
                  <th>Description</th>
                  <th>Priority <a href="/todo/orderbyprioritydesc" id="priority">↓</a>--<a href="/todo/orderbypriority" id="priority">↑</a></th>
                  <th>Created <a href="/todo/orderbycreateddesc" id="created">↓</a>--<a href="/todo/orderbycreated" id="created">↑</a></th>
                  <th>Deadline</th>
                  <th th:if="${#httpServletRequest.requestURI != '/todo/archived'}">Done</th>
                  <th th:if="${#httpServletRequest.requestURI != '/todo/archived'}">Delete</th>
                  <th>Archive</th>
                  <th th:if="${#httpServletRequest.requestURI != '/todo/archived'}">Modify</th>
               </tr>
               <tr th:each="todo : ${todolist.content}" th:id="${'todo-' + todo.id}" th:class="${''+todo.id}">
                  <td class="description" ><span th:text="${todo.description}"></span></td>
                  <div th:id="'details'+${todo.id}" class="details" th:text="${todo.details}"></div>
                  <td class="priority" th:value="${todo.priority}"><span><a th:href="${todo.priority !=null}?@{/todo/edit/increasepriority/}+(${todo.id})" id="increasepriority" th:text="${todo.priority lt 10}?'↑':''"> ↑ </a></span><span th:text="${todo.priority}"></span><span><a th:href="@{/todo/edit/decreasepriority/}+(${todo.id})" id="increasepriority" th:text="${todo.priority gt 0}?'↓':''"> ↓ </a></span></td>
                  <td class="created" ><span th:text="${todo.created !=null}?${#dates.format(todo.created, 'yyyy MMM dd.')}:''"></span></td>
                  <td class="deadline" ><span th:text="${todo.deadline !=null}?${#dates.format(todo.deadline, 'yyyy MMM dd.')}:''"></span></td>
                  <td th:if="${#httpServletRequest.requestURI != '/todo/archived'}"><a class="done" th:id="${todo.done}" th:href="@{/todo/edit/setdone}+'/'+${todo.id}"><span th:text="${todo.done}?'✔':'no'"></span></a></td>
                  <td th:if="${#httpServletRequest.requestURI != '/todo/archived'}"><a class="delete" th:href="@{/todo/delete/}+${todo.id}"><span>❌</span></a></td>
                  <td  class="archive-active" style="display:none;"><a th:href="@{/todo/archive/}+${todo.id}"><span><img src="https://emoji.fileformat.info/gemoji/floppy_disk.png" alt="Gemoji image for :floppy_disk" style="width:32px;height:32px;"/></span></a></td>
                  <td class="archive-archive" style="display:none;"><a th:href="@{/todo/archive/restore/}+${todo.id}"><span style="color:blue;">♻</span></a></td>
                  <td th:if="${#httpServletRequest.requestURI != '/todo/archived'}"><button type="submit" class="modify" value="Modify" th:onclick="'setVisibleUpdateField(\'' + ${todo.id} + '\');'">✎</button></td>
                  <div style="display:none;" th:id="'update'+${todo.id}" class="update">
                     <span class="exit" th:onclick="'setInVisibleUpdateField(\'' + ${todo.id} + '\');'">⮿</span>
                     <form action="/todo/update" method="post">
                        <input type="number" name="id" th:value="${todo.id}" style="display:none"/>
                        <input type="text" name="description" maxlength="10" class="desc" placeholder="Description" required="required" th:value="${todo.description}"/>
                        <label>Deadline</label>
                        <input type="date" class="deadline" name="deadline" th:value="${todo.deadline}"/>
                        <label>Priority</label>
                        <input type="number" name="priority" th:value="${todo.priority}" required="required" min="0" max="10"/><br/>
                        <textarea rows="4" cols="50" name="details" th:text="${todo.details}"/>
                        <button type="submit" value="Update" th:onclick="'setInVisibleUpdateField(\'' + ${todo.id} + '\');'">Update</button>
                     </form>
                  </div>
               </tr>
            </table>
         </div>
         <div class="no-results" th:if="${#lists.isEmpty(todolist)}">
            Sorry, we do not have to do.
         </div>
         <div th:replace="fragments/pagination :: pagingStripe(todolist)"></div>
      </div>
      <div id="newTodo">
         <span>
            <h3>Create new todo</h3>
         </span>
         <form action="/todo/new" method="post">
            <input type="text" name="description" maxlength="10" class="desc" placeholder="Description" required="required"/>
            <label>Deadline</label>
            <input type="date" class="deadline" name="deadline" value=""/>
            <label>Priority</label>
            <input type="number" name="priority" value="1" required="required" min="0" max="10"/>
            <textarea rows="4" cols="50" name="details" placeholder="Details..."/>
            <button type="submit" value="Add" id="add">➕</button>
         </form>
      </div>
      <script>
         function setVisibleUpdateField(inputID){
         	$('.update').css('display', 'none');
         	$('#update'+inputID).css('display', 'block');
         
         };
         
         function setInVisibleUpdateField(inputID){
          $('#update'+inputID).css('display', 'none');
          };
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" th:src="@{/js/todo-list.js}"></script>
   </body>
</html>